$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$cyan: hsl(192, 70%, 51%);
$gray-blue: hsl(233, 8%, 62%);
$gray-light-blue: rgb(243, 244, 246);
$gray--extra-light-blue: rgb(248, 248, 248);
$white: hsl(0, 0%, 100%);
